.dropdown a{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:195px;
    display: block;
    text-decoration: none;
    background-color: white;
    cursor: pointer;
  }
   
 
  .dropdown a:hover {
    color: #eee;
    background-color: #010507;
  }
   
  #search-box{
    width: 200px;
    height: 20px;
  }