.rotate,.scale,.skew,.translate,.normal{
	height:100px;
	width:100px;
	margin:50px;
	transition:2s;
	float:left;
	color:white;
	text-align:center;
	background-color:blue;
	font-size:25px;
}

.rotate:hover{
	background-color:red;
	color:black;
	transform:rotate(360deg);
}
.scale:hover{
	background-color:red;
	color:black;
	transform:scale(1.5);
}
.skew:hover{
	background-color:red;
	color:black;
	transform:skew(30deg,0deg);
}
.translate:hover{
	background-color:red;
	color:black;
	transform:translate(20px,20px);
}
.normal:hover{
	color:black;
	background:red;
}
