body{
	background-color:skyblue;
}
.target-container,.image-container{
	display:float;
	width: 400px;
    height:400px;
	float:left;
	margin:10px;
	border: 5px ridge gray;
	border-radius:3px;
	background-color:white;
	
}
.image-container  {
	float:right;
}
.heading-content{
	text-align:center;
	color:white;
	
}