body{
	background-color:#E7EBEE;
}
.fullContainer{
	height:97%;
	margin:1%;
	padding:0.2%;
	//border:1px solid blue ;
	background-color:white;
}
.header{
	background-color:#EDF7F8;
	border:2px solid #E7EBEE ;
	//width:97%;
	font-weight:bold;
	font-size:20px;
	height:5%;
	margin:0.5%;
	padding-top:3%;
	padding-left:1%;
	text-align:bottom;
	color:#0052FF;
}
.mainContain{
	display:flex;
}
.profilePic{
	position:relative;
	left:2%;
	top:5%;
	width:15%;
	height:40%;
	border-radius:1%;
	background-color:black;
	border:2px ridge #E7EBEE ;
}
.userDetails
{
	position:relative;
	left:10%;
}
.makeBold{
	font-weight:bold;
}
.contactInfoDiv,.generalInfoDiv,.additionalInfoDiv
{
	width:100%;
	padding:4%;
	margin-top:10%;
	margin-bottom:15%;
}